<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /blog_2/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
php_value upload_max_filesize 40M
php_value post_max_size 42M
</IfModule>
